<div class="container">
    <h1 class="mt-5 text-center">MyBlog:</h1>

    {{#each posts as |post| }}
    <div class="card post-card mt-4">
      <div class="card-body">
        <h2 class="card-title"><a href="/post/{{post.id}}">{{post.post_title}}</a></h2>
        <p class="card-text">{{post.blog_text}}</p>
        <p class="card-text">By: {{user.name}}</p>
        <p class="card-text">{{post.createdAt}}</p>
      </div>
    </div>
    {{/each}}

  </div>

<script src="./js/logout.js"></script>