

{{#ifEquals post.user_id user_id}}
  <input id="project-name" value="{{post.post_title}}"/>
  <p>By: {{post.user.name}}</p>
  <p>{{post.createdAt}}</p>
  <input id="project-desc" value="{{post.blog_text}}" />
{{else}}
  <p id="project-name">{{post.post_title}}</p> 
  <p>By: {{post.user.name}}</p>
  <p>{{post.createdAt}}</p>
  <p id="project-desc">{{post.blog_text}}</p>
{{/ifEquals}}
<hr />

{{#each post.comments as |comment|}}
<p>{{comment.createdAt}}</p>
<p>{{user.name}}: {{comment.comment_text}}</p>
<hr />
{{/each}}

<div class="project-list update-list">
     {{#ifEquals post.user_id user_id}}
     <button data-update="{{post.id}}">UPDATE</button>
     <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
     {{/ifEquals}}
</div>

<form id="comment-form">
     <input type="hidden" id="post_id" value="{{post.id}}" name="post_id"/>
     <input type="hidden" id="user_id" value="{{comment.user_id}}" name="user_id"/>
<textarea id="comment-input"></textarea>
<button id="comment-button" type="submit">send</button>
</form>

<script src="./js/logout.js"></script>
<script src="/js/comment.js"></script>
