<h1>{{post.post_title}}</h1>
<p>By: {{post.user.name}}</p>
<p>{{post.createdAt}}</p>
<p>{{post.blog_text}}</p>

<hr />

{{#each post.comments as |comment|}}
<p>{{comment.createdAt}}</p>
<p>{{user.name}}: {{comment.comment_text}}</p>
<hr />
{{/each}}

<form id="comment-form">
     <input type="hidden" id="post_id" value="{{post.id}}" name="post_id"/>
     <input type="hidden" id="user_id" value="{{post.user_id}}" name="user_id"/>
<textarea id="comment-input"></textarea>
<button id="comment-button" type="submit">send</button>
</form>

<script src="/js/comment.js"></script>